doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title TourWind
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // font awesome cdn
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css", integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==", crossorigin="anonymous", referrerpolicy="no-referrer")
    // fonts
    link(rel="stylesheet", href="webfonts/fonts.css")
    // normalize css
    link(rel="stylesheet", href="stylesheets/normalize.css")
    // custom css
    link(rel="stylesheet", href="stylesheets/utility.css")
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="stylesheets/responsive.css")
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title TourWind
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // font awesome cdn
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css", integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==", crossorigin="anonymous", referrerpolicy="no-referrer")
    // Bootstrap CSS
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      div.container
        a.navbar-brand(href="/")
          | Tour
          span Wind
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        div#navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link(href="/") Home
            li.nav-item
              a.nav-link(href="/gallery/") Gallery
            li.nav-item
              a.nav-link(href="/about/") About
            li.nav-item
              a.nav-link(href="/Contacts/") Contact
              header.flex.header-sm
              <!-- header -->
header.flex.header-sm
  div.container
    div.header-title
      h1 About
      p 
<!-- header -->

<!-- about section -->
section#about.py-4
  div.container
    div.title-wrap
      span.sm-title things to know about us
      h2.lg-title TourWind is a website which helps peoples to know about the places

    div.about-row
      div.about-left.my-2
        img(src="https://images.unsplash.com/photo-1499540633125-484965b60031?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHRlYW13b3JrfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60", alt="about img")
      div.about-right
        h2 
        p.text 
        p.text 
