doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title TourWind
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // font awesome cdn
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css", integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==", crossorigin="anonymous", referrerpolicy="no-referrer")
    // fonts
    link(rel="stylesheet", href="webfonts/fonts.css")
    // normalize css
    link(rel="stylesheet", href="stylesheets/normalize.css")
    // custom css
    link(rel="stylesheet", href="stylesheets/utility.css")
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="stylesheets/responsive.css")
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title TourWind
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // font awesome cdn
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css", integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==", crossorigin="anonymous", referrerpolicy="no-referrer")
    // Bootstrap CSS
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      div.container
        a.navbar-brand(href="/")
          | Tour
          span Wind
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        div#navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link(href="/") Home
            li.nav-item
              a.nav-link(href="/gallery/") Gallery
            li.nav-item
              a.nav-link(href="/about/") About
            li.nav-item
              a.nav-link(href="/Contacts/") Contact

    header.flex
      div.container
        div.header-title
          h1 Australia
          p Famous places in Australia.
        div.header-form
          form.flex

body
    nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse
      .container
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarMain')
          span.navbar-toggler-icon
 
        section#featured.py-4
    .container
        .title-wrap

        .featured-row
            .featured-item.my-2.shadow
                img(src="https://c4.wallpaperflare.com/wallpaper/449/714/536/kakadu-national-park-wallpaper-preview.jpg", alt="featured place")
                .featured-item-content
                   span
                        i.fas.fa-map-marker-alt
                        | the Northern Territory, Australia
                    
                   div
                      h1 kakadu national park 
                      p.text The largest national park in Australia and one of the largest in the world's tropics, Kakadu preserves the greatest variety of ecosystems on the Australian continent including extensive areas of savanna woodlands, open forest, floodplains, mangroves, tidal mudflats, coastal areas and monsoon forests.
            .featured-item.my-2.shadow
                img(src="https://c0.wallpaperflare.com/preview/252/37/114/australia-bondi-beach-bondi-icebergs-pool-pool.jpg", alt="featured place")
                .featured-item-content
                   span
                        i.fas.fa-map-marker-alt
                        | New South Wales, Australia.
                    
                   div
                      h1 bondi beach
                      p.text Bondi Beach is Australia's most famous beach. The jewel of Sydney's laid-back beach lifestyle is home to one of the oldest surf lifesaving clubs in the world and one of Australia's oldest swimming clubs, the Bondi Icebergs. You can travel by public transport from the city centre to the iconic beach.
            .featured-item.my-2.shadow
                img(src="https://c4.wallpaperflare.com/wallpaper/188/326/574/rock-formation-landscape-photography-mono-lake-mono-lake-wallpaper-preview.jpg", alt="featured place")
                .featured-item-content
                   span
                        i.fas.fa-map-marker-alt
                        | sydney
                    
                   div
                      h1 opera house
                      p.text The Sydney Opera House constitutes a masterpiece of 20th century architecture. Its significance is based on its unparalleled design and construction; its exceptional engineering achievements and technological innovation and its position as a world-famous icon of architecture.