extends layout
block content
    .row.banner
        .col-12
            h1= title
        .row
            .col-12.col-lg-12
                p
                | Tourwind was created to help people find places to Travel around world with better information.
                | <br /><br /> 