doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title TourWind
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // font awesome cdn
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css", integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==", crossorigin="anonymous", referrerpolicy="no-referrer")
    // fonts
    link(rel="stylesheet", href="webfonts/fonts.css")
    // normalize css
    link(rel="stylesheet", href="stylesheets/normalize.css")
    // custom css
    link(rel="stylesheet", href="stylesheets/utility.css")
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="stylesheets/responsive.css")
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title TourWind
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // font awesome cdn
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css", integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==", crossorigin="anonymous", referrerpolicy="no-referrer")
    // Bootstrap CSS
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      div.container
        a.navbar-brand(href="/")
          | Tour
          span Wind
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        div#navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link(href="/") Home
            li.nav-item
              a.nav-link(href="/gallery/") Gallery
            li.nav-item
              a.nav-link(href="/about/") About
            li.nav-item
              a.nav-link(href="/Contacts/") Contact

    header.flex
      div.container
        div.header-title
          h1 Germany
          p Famous places in germany.
        div.header-form
          form.flex

body
    nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse
      .container
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarMain')
          span.navbar-toggler-icon
 
        section#featured.py-4
    .container
        .title-wrap

        .featured-row
            .featured-item.my-2.shadow
                img(src="https://c4.wallpaperflare.com/wallpaper/6/434/358/brandenburg-cloudy-pariser-platz-5k-wallpaper-preview.jpg", alt="featured place")
                .featured-item-content
                   span
                        i.fas.fa-map-marker-alt
                        | Berlin
                    
                   div
                      h1 brandenburg gate 
                      p.text The Brandenburg Gate is Berlin's most famous landmark and a must-see for all visitors. A symbol of German division during the Cold War, it is now a national symbol of peace and unity. The Brandenburg Gate is one of Berlin's most important monuments, a landmark and symbol with over two hundred years of history.
            .featured-item.my-2.shadow
                img(src="https://c4.wallpaperflare.com/wallpaper/600/2/381/palaces-nymphenburg-palace-wallpaper-preview.jpg", alt="featured place")
                .featured-item-content
                   span
                        i.fas.fa-map-marker-alt
                        | Bavaria
                    
                   div
                      h1 Nymphenburg Palace
                      p.text Nymphenburg Palace was extremely popular with the Bavarian rulers as a summer residence. Numerous rulers from the Wittelsbach dynasty added to the interior. The decoration of the main palace thus represents a variety of styles ranging from Baroque and Rococo to Neoclassicism.
            .featured-item.my-2.shadow
                img(src="https://c4.wallpaperflare.com/wallpaper/228/389/155/berlin-alexanderplatz-fernsehturm-wallpaper-preview.jpg", alt="featured place")
                .featured-item-content
                   span
                        i.fas.fa-map-marker-alt
                        | berlin
                    
                   div
                      h1 Berliner Fernsehturm
                      p.textIn the sixties, the GDR government arranged to have the TV Tower built at its current location, not least to demonstrate the strength and efficiency of the socialist system. The original design of the slender Tower soaring skywards was created by the GDR architect Hermann Henselmann..