doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title TourWind
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // font awesome cdn
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css", integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==", crossorigin="anonymous", referrerpolicy="no-referrer")
    // fonts
    link(rel="stylesheet", href="webfonts/fonts.css")
    // normalize css
    link(rel="stylesheet", href="stylesheets/normalize.css")
    // custom css
    link(rel="stylesheet", href="stylesheets/utility.css")
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="stylesheets/responsive.css")
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title TourWind
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // font awesome cdn
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css", integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==", crossorigin="anonymous", referrerpolicy="no-referrer")
    // Bootstrap CSS
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      div.container
        a.navbar-brand(href="/")
          | Tour
          span Wind
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        div#navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link(href="/") Home
            li.nav-item
              a.nav-link(href="/gallery/") Gallery
            li.nav-item
              a.nav-link(href="/about/") About
            li.nav-item
              a.nav-link(href="/Contacts/") Contact
            li.nav-item
              a.nav-link(href="/login/") Login
  body
    h1 Login
    form(action="/login", method="post")
      div
        label(for="username") Username:
        input(type="text", name="username", required)
      div
        label(for="password") Password:
        input(type="password", name="password", required)
      div
        input(type="submit", value="Login") 